<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>發生錯誤</title>
</head>
<body>
    <h3>錯誤訊息如下</h3>
    <div><%= msg%></div>
    <a href="/">按我回首頁</a>
</body>
</html>